

<% @users.each do |user| %>
 
  <div class="space-frame" data-enter="fadeIn slideInBottom" data-exit="fadeOut zoomOut" data-duration="1.3">
      <section class="space-inner-frame">
          <%= image_tag user.soundcloud_avatar %>
          <h2> <%= user.soundcloud_username %></h2>

          <audio class="audioplayer" src=<%= user.soundcloud_track %><%= "?client_id=fa120c2f477a3118927cf6ae273876f8" %> autobuffer autoloop autoplay loop controls></audio>
      </section>
  </div>

<% end -%>  



<div class="connect-with-soundcloud <%= "connected" if logged_in? %>">
  <%= link_to "Connect With SoundCloud",    soundcloud_connect_path, :class => "connect" %>
  <%= link_to "Disconnect From SoundCloud", soundcloud_disconnect_path, :class => "disconnect" %>
 

  <span class="current-user">
    <span class="username"><%= current_user.soundcloud_username if logged_in? %></span>
  </span>
</div>


<div class="visible-when-logged-in <%= "hidden" unless logged_in? %>"">
</div>

<!-- Basic User Info         -->
<!-- Update User description -->
<!-- List of Tracks          -->
