<!DOCTYPE html>
<html>
<head>
  <title>Stereobuzz</title>
  <!--<script src="http://connect.soundcloud.com/base.js"></script>-->
  <%= stylesheet_link_tag 'application', 'soundcloud' %>
  <%= javascript_include_tag 'jquery-1.5.min', 'connect', 'application', 'soundcontroller' %>

  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
  <link href='http://fonts.googleapis.com/css?family=Comfortaa:300' rel='stylesheet' type='text/css'>


  <%= csrf_meta_tag %>
</head>
<body>
  <div class="wrapper container">
    <%= yield %>
  </div>

 <%= javascript_include_tag 'spacemod' %>

 </body>
</html>
